build/*
report.tex
report.pdf
**/.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dll
**/*.egg-info/
**/*.egg
credentials.db
data/universal_approximant/params/
.secrets.toml
notes.md
.github/*