build/*
report.tex
report.pdf
**/.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dll
**/*.egg-info/
**/*.egg
credentials.db
.secrets.toml
notes.md
.github/*

data/universal_approximant/params/*
data/process_tomography/matrices/*
data/reuploading/*
data/process_tomography/numpy/matrices/*
data/reuploading_classifier/params/*
data/process_tomography/numpy/matrices/*