%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% --------------------------------------------------------
% Quantum Benchmark Report
% Using Tau LaTeX Class
% --------------------------------------------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\documentclass[9pt,a4paper]{src/templates/tau-class/tau}
\usepackage[english]{babel}

% Additional packages that might be needed and are not in tau.cls
\usepackage{longtable}
\usepackage{multicol}

%----------------------------------------------------------
% TITLE
%----------------------------------------------------------

\journalname{Quantum Benchmark Report}
\title{Benchmarking report of {{ platform }}}

%----------------------------------------------------------
% AUTHORS AND INFORMATION
%----------------------------------------------------------

\author{Team name or Tool name}

%----------------------------------------------------------
% LOGO CONFIGURATION
%----------------------------------------------------------

\logopath{src/templates/cqt.pdf}
\logoheight{1.5cm}

%----------------------------------------------------------
% FOOTER INFORMATION
%----------------------------------------------------------

\institution{Centre for Quantum Technologies}
\footinfo{Benchmark Report}
\theday{ {{ date }} } 
\leadauthor{Quantum hardware lab of CQT}
\course{Quantum Hardware Team}

%----------------------------------------------------------
% ABSTRACT
%----------------------------------------------------------

%\begin{abstract}
%This report presents the quantum benchmark results for {{ chip_name }} with {{ qubits }} qubits. 
%The benchmark was conducted on {{ date }} at {{ time }}. The report includes comparison between 
%the new version and control version, routine results, and T1/T2 measurements.
%\end{abstract}

\keywords{quantum computing, benchmarking, quantum hardware, performance analysis}

\begin{document}

\maketitle
\thispagestyle{firststyle}

% Report of changes
\section{Report of Changes}
\taustart{T}\textcolor{blue}{his section details the reasons for the new benchmarking suite and summarizes the key changes. This section details the reasons for the new benchmarking suite and summarizes the key changes. This section details the reasons for the new benchmarking suite and summarizes the key changes (from template)}. {{ report_of_changes }}


\begin{multicols}{2}

\begin{center}
\begin{tauenvmine}
%\vspace{-0.2.cm}
\centering
{\Large \textbf{ {{ new_version.runcard | replace('_', '\\_') }} }} \\
%\textbf{Runcard:} \href{ {{ new_version.runcard_link }} }{ {{ new_version.runcard | replace('_', '\\_') }} }
\href{ {{ new_version.runcard_link }} }{ Link to Runcard }
%\vspace{0.15cm}
\end{tauenvmine}
\end{center}

\columnbreak

\begin{center}
\begin{tauenvmine}
%\vspace{-0.2cm}
\centering
{\Large \textbf{ {{ control_version.runcard | replace('_', '\\_') }} }} \\
%\textbf{Runcard:} \href{ {{ control_version.runcard_link }} }{ {{ control_version.runcard | replace('_', '\\_') }} }
\href{ {{ control_version.runcard_link }} }{ Link to Runcard }
%\vspace{0.15cm}
\end{tauenvmine}
\end{center}

\end{multicols}


%----------------------------------------------------------
\section{Version Comparison}
\begin{multicols}{2}

%\subsection{New Version}
\begin{tauenv}
\begin{center}
\begin{tabular}{@{}ll|ll@{}}
\toprule
\textbf{Library} & \textbf{Version} & \textbf{Library} & \textbf{Version} \\ \midrule
{% set items = new_version.versions.items()|list %}
{% for i in range(0, items|length, 2) %}
    {{ items[i][0] | replace('_', '\\_') }} & {{ items[i][1] | replace('_', '\\_') }} 
    {% if i + 1 < items|length %}
        & {{ items[i+1][0] | replace('_', '\\_') }} & {{ items[i+1][1] | replace('_', '\\_') }} \\
    {% else %}
        & & \\
    {% endif %}
{% endfor %}
\bottomrule
\end{tabular}
\end{center}
\hspace{1cm}
\begin{minipage}[t]{0.45\linewidth}

\end{minipage}
\end{tauenv}

\columnbreak

%\subsection{Control Version}
\begin{tauenv}
\begin{center}
\begin{tabular}{@{}ll|ll@{}}
\toprule
\textbf{Library} & \textbf{Version} & \textbf{Library} & \textbf{Version} \\ \midrule
{% set items = control_version.versions.items()|list %}
{% for i in range(0, items|length, 2) %}
    {{ items[i][0] | replace('_', '\\_') }} & {{ items[i][1] | replace('_', '\\_') }} 
    {% if i + 1 < items|length %}
        & {{ items[i+1][0] | replace('_', '\\_') }} & {{ items[i+1][1] | replace('_', '\\_') }} \\
    {% else %}
        & & \\
    {% endif %}
{% endfor %}
\bottomrule
\end{tabular}
\end{center}
\hspace{1cm}
\begin{minipage}[t]{0.45\linewidth}
\end{minipage}
\end{tauenv}


\end{multicols}


\section{One and two qubit fidelities}
\begin{multicols}{2}

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_exp }} }
\end{center}

\columnbreak

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_baseline }} }
\end{center}
\end{multicols}




\section{Statistics} 

% Ensure proper table alignment
\renewcommand{\arraystretch}{1.2}

% Use table side by side with proper alignment
\noindent\begin{minipage}{0.49\textwidth}
{\small
\begin{center}
\begin{tabular}{@{}p{1.8cm}p{1.3cm}p{1.2cm}p{1.2cm}p{1.2cm}@{}}
\toprule
 & Average & Median & Min & Max \\
\midrule
T1 & {{ stat_t1.average }} & {{ stat_t1.median }} & {{ stat_t1.min }} & {{ stat_t1.max }} \\
 & {{ stat_t1.average_change }} & {{ stat_t1.median_change }} & {{ stat_t1.min_change }} & {{ stat_t1.max_change }} \\
T2 & {{ stat_t2.average }} & {{ stat_t2.median }} & {{ stat_t2.min }} & {{ stat_t2.max }} \\
 & {{ stat_t2.average_change }} & {{ stat_t2.median_change }} & {{ stat_t2.min_change }} & {{ stat_t2.max_change }} \\
Fidelity & {{ stat_fidelity.average }} & {{ stat_fidelity.median }} & {{ stat_fidelity.min }} & {{ stat_fidelity.max }} \\
 & {{ stat_fidelity.average_change }} & {{ stat_fidelity.median_change }} & {{ stat_fidelity.min_change }} & {{ stat_fidelity.max_change }} \\
Pulse Fidelity & {{ stat_pulse_fidelity.average }} & {{ stat_pulse_fidelity.median }} & {{ stat_pulse_fidelity.min }} & {{ stat_pulse_fidelity.max }} \\
 & {{ stat_pulse_fidelity.average_change }} & {{ stat_pulse_fidelity.median_change }} & {{ stat_pulse_fidelity.min_change }} & {{ stat_pulse_fidelity.max_change }} \\
Mermin Max & {{ mermin_maximum }} & & & \\
\bottomrule
\end{tabular}
\end{center}
}
\end{minipage}
\hfill
\noindent\begin{minipage}{0.49\textwidth}
{\small
\begin{center}
\begin{tabular}{@{}p{1.8cm}p{1.3cm}p{1.2cm}p{1.2cm}p{1.2cm}@{}}
\toprule
 & Average & Median & Min & Max \\
\midrule
T1 & {{ stat_t1_baseline.average }} & {{ stat_t1_baseline.median }} & {{ stat_t1_baseline.min }} & {{ stat_t1_baseline.max }} \\
 & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} \\
T2 & {{ stat_t2_baseline.average }} & {{ stat_t2_baseline.median }} & {{ stat_t2_baseline.min }} & {{ stat_t2_baseline.max }} \\
 & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} \\
Fidelity & {{ stat_fidelity_baseline.average }} & {{ stat_fidelity_baseline.median }} & {{ stat_fidelity_baseline.min }} & {{ stat_fidelity_baseline.max }} \\
 & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} \\
Pulse Fidelity & {{ stat_pulse_fidelity_baseline.average }} & {{ stat_pulse_fidelity_baseline.median }} & {{ stat_pulse_fidelity_baseline.min }} & {{ stat_pulse_fidelity_baseline.max }} \\
 & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} & \phantom{+0.00 (+0.00\%)} \\
Mermin Max & {{ mermin_maximum }} & & & \\
\bottomrule
\end{tabular}
\end{center}
}
\end{minipage}

% Reset arraystretch to default
\renewcommand{\arraystretch}{1.0}




\newpage



\section{Benchmark Results}

\begin{multicols}{2}

%\subsection{New Fidelities}
\begin{center}
\begin{tabular}{@{}c c c@{}}
\toprule
Qubit n & Fidelity & Error Bars \\ \midrule
{% for row in new_fidelity %}
{{ row.qn }} & {{ row.fidelity }} & $\pm$ {{ row.error_bars }} \\
{% endfor %}
\bottomrule
\end{tabular}
\end{center}

\columnbreak

%\subsection{Control Fidelities}
\begin{center}
\begin{tabular}{@{}c c c@{}}
\toprule
Qubit n & Fidelity & Error Bars \\ \midrule
{% for row in control_fidelity %}
{{ row.qn }} & {{ row.fidelity }} & $\pm$ {{ row.error_bars }} \\
{% endfor %}
\bottomrule
\end{tabular}
\end{center}

\end{multicols}




\section{5 Qubit Mermin}
\begin{multicols}{2}

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_mermin_baseline }} }
\end{center}

\columnbreak

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_mermin }} }
\end{center}
\end{multicols}



\section{Data reuploading}
\begin{multicols}{2}

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_reuploading }} }
\end{center}

\columnbreak

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_reuploading_baseline }} }
\end{center}
\end{multicols}



\section{2 Qubit Grover}
\begin{multicols}{2}

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_grover2q }} }
\end{center}

\columnbreak

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_grover2q_baseline }} }
\end{center}
\end{multicols}


\section{GHZ state preparation}
\begin{multicols}{2}

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_ghz }} }
\end{center}

\columnbreak

\begin{center}
\includegraphics[width=0.95\linewidth]{ {{ plot_ghz_baseline }} }
\end{center}
\end{multicols}





\newpage


%\begin{center}
%\includegraphics[width=0.95\linewidth]{ {{ plot_chevron_swap_0 }} }
%\end{center}


%\begin{center}
%\includegraphics[width=0.95\linewidth]{ {{ plot_swap_coupler }} }
%\end{center}


{% if grid_coupler_is_set %}
\section{Grid Coupler Benchmark Plots}
\begin{figure}[h!]
\centering
\begin{tabular}{|c|c|}
\hline
{% for row in plot_grid_coupler %}
    \includegraphics[width=0.5\linewidth]{ {{ row.plot }} } &
    \includegraphics[width=0.5\linewidth]{ {{ row.baseline }} } \\
{% endfor %}
\hline
\end{tabular}
%\caption{Grid of 8 benchmark plots.}
\end{figure}
{% endif %}

{% if chevron_swap_coupler_is_set %}
\section{Chevron Swap Coupler Benchmark Plots}
\begin{figure}[h!]
\centering
\begin{tabular}{|c|c|}
\hline
{% for row in plot_chevron_swap_coupler %}
    \includegraphics[width=0.5\linewidth]{ {{ row.plot }} } &
    \includegraphics[width=0.5\linewidth]{ {{ row.baseline }} } \\
{% endfor %}
\hline
\end{tabular}
%\caption{Grid of 8 benchmark plots.}
\end{figure}
{% endif %}

{% if t1_plot_is_set is defined %}
\section{T1 Decay Plots}
\begin{figure}[h!]
\centering
\begin{tabular}{|c|c|}
\hline
{% for row in plot_grid_t1 %}
    \includegraphics[width=0.5\linewidth]{ {{ row.plot }} } &
    \includegraphics[width=0.5\linewidth]{ {{ row.plot_baseline }} } \\
{% endfor %}
\hline
\end{tabular}
%\caption{Grid of T1 decay plots.}
\end{figure}
{% endif %}

\newpage



%\subsection{Routine Results}
%\begin{table}[h]
%\caption{Summary of Quantum Routine Performance}
%\begin{tabular}{@{}llll@{}}
%\toprule
%Routine & Avg. Result $\pm$ Error & Best Qubit & Worst Qubit \\ \midrule
%{% for row in routine_results %}
%{{ row.routine }} & {{ row.avg_result_error }} & {{ row.best_qubit }} & {{ row.worst_qubit }} \\
%{% endfor %}
%\bottomrule
%\end{tabular}
%\end{table}

%\subsection{Coherence Times}
%\begin{table}[h]
%\caption{T1/T2 Values During Benchmark Suite}
%\begin{tabular}{@{}llll@{}}
%\toprule
%Qubit & T1 ($\mu$s) & T2 ($\mu$s) & Outlier? \\ \midrule
%{% for row in t1t2_values %}
%{{ row.qubit }} & {{ row.t1 }} & {{ row.t2 }} & {{ row.outlier }} \\
%{% endfor %}
%\bottomrule
%\end{tabular}
%\end{table}

\end{document}